<div class="panel panel-default">
  <!-- List group -->
  <ul class="list-group">
    <% for snippet in @snippets %>
        <%= link_to snippet.content.split[0...15].join(' '), snippet, class: 'list-group-item' %>
    <% end %>
  </ul>
</div>