<p id="notice"><%= notice %></p>

<div class="snip-header">
  <h1>
    Snippets
    <%= link_to button_tag('Create Snippet', class: 'btn btn-primary pull-right'), new_snippet_path %>
  </h1>
</div>
<style>
  .snip-header {
      padding-bottom: 20px;
  }
</style>

<div class="panel panel-default">
  <!-- List group -->
  <ul class="list-group">
    <% for snippet in @snippets %>
      <li class="list-group-item"><%= snippet.content.split[0...15].join(' ') %></li>
    <% end %>
  </ul>
</div>


